auto-install-peers = true
public-hoist-pattern[]=*storybook*
@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=FAF67CC1-9AE7-4FAC-A815-304EDF6AC435
